
input + span {
  padding-right: 30px;
}

input:invalid+span:after {
  position: center; content: 'X';
  color: red;
  padding-left: 5px;
}

input:valid+span:after {
  position: center;
  content: '✓';
  color: green;
  padding-left: 5px;
}

.formulaire{
	background-color: white,
    border-radius:2%;
}

body{
	background-color:silver;
}
.forme{
	background-color: white;
	border-radius: 2%;
	width: 90%;
	height: 700px; 
	text-align: center;
	margin-top: 80px;
}
